* {
    margin: 0;
    padding: 0;
}


.user_container{
    width:auto;
    height: 100vh;
    display: flex;
}

.user_navbar{
    width: 18%;
	z-index: 1;
}

.user_profile_div{
    background-color: #97aebe;
    width: 90%;
    display: flex;
    flex-direction: column; /* Change to column direction */
    align-items: center; /* Align items to the start (top) */
	justify-content: center;
    padding: 40px; /* Add padding as needed */
    min-width: 1200px;
}
*

.avatar-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 750px;
	height: 250px;
	border-radius: 5px;
	transform: translate(-50%, -50%);
	background-color: rgb(242, 242, 242);
	padding: 20px;
	border: 1px solid #ccc;
	z-index: 1000;
  }

  .avatar_modal_avatars{
	display: flex;
  }

.avatar_modal_top{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
  .avatar_modal_avatars ul{
	height: 100%;
	display: flex;
	flex-direction: row;
	/* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust the width as needed */
	gap: 10px; /* Adjust the gap between avatars */
  }
  

  .avatar_modal_avatars li {
	margin-top: 10px; /* Adjust the margin as needed */
  }
  
  .avatar_modal_avatars li:hover {
    transform: scale(1.05);
  }

  .avatar_modal_avatars li:last-child {
	margin-right: 0; /* Remove margin from the last item */
  }
  

.avatar-modal ul{
	display: flex;
	align-items: center;
}

  .avatar-modal img {
	width: 50px;
	height: 50px;
	cursor: pointer;
  }


.profile_avatar{
	width: 150px;
	height: 150px;
}

.profile_avatar:hover{
	transform: scale(1.02); /* Adjust the values as needed */
  	transition: transform 0.3s ease, opacity 0.3s ease; /* Add a transition property */
	cursor:pointer;
	opacity: 0.7;
}

.profile_section {
	border-radius: 10px;
	padding: 20px;
	background-color: #efe5e3;
    display: flex;
    align-items: center;
}
  
.profile_picture {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%; /* To make it a circle */
    margin-right: 10px; /* Adjust as needed */
}
  
.user_info {
	margin-right: 50px;
    text-align: left; /* Adjust as needed */
	margin-left: 20px;
}
  
.welcome_text {
    margin-bottom: 5px; /* Adjust as needed */
}




.showcase_card {
    max-width: 100%; 
    max-height: 250px; 
	margin: 15px;
	box-shadow: 0 0 15px rgba(111, 68, 33, 0.8);
}


body {
    background: -moz-linear-gradient(45deg, #02e1ba 0%, #26c9f2 29%, #d911f2 66%, #ffa079 100%);
    background: -webkit-linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
    background: linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	min-height: calc(100vh - 2rem);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-evenly;
	overflow: hidden;
	position: relative; 
}

body::before{
	content: "";
	width: 70vmax;
	height: 70vmax;
	position: absolute;
	background: rgba(255, 255, 255, 0.07);
	left: -20vmin;
	top: -20vmin;
	animation: morph 15s linear infinite alternate, spin 20s linear infinite;
	z-index: 0;
	will-change: border-radius, transform;
	transform-origin: 30% 30%;
	pointer-events: none; 
}

/*
body::after {
    width: 70vmin;
    height: 70vmin;
    left: auto;
    right: -10vmin;
    top: auto;
    bottom: 0;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 10% 10%; 
}*/


@-webkit-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
  100% {
    border-radius: 40% 60%; } 
}

@keyframes spin {
  to {
    transform: rotate(1turn); 
  } 
}

	.st0{display:none;}
	.st1{display:inline;}
	.st2{opacity:0.29;}
	.st3{fill:#FFFFFF;}
	.st4{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
	.st5{clip-path:url(#SVGID_4_);}
	.st6{clip-path:url(#SVGID_6_);}
	.st7{clip-path:url(#SVGID_8_);}
	.st8{clip-path:url(#SVGID_10_);}
	.st9{fill:none;}
	.st10{clip-path:url(#SVGID_12_);}
	.st11{opacity:0.7;}
	.st12{clip-path:url(#SVGID_14_);}
	.st13{opacity:0.2;}
	.st14{clip-path:url(#SVGID_16_);}
	.st15{opacity:0.3;fill:#FFFFFF;enable-background:new    ;}